
#wrapper { width: 750px; margin: 0 auto; }
 
h1{
     color: darkmagenta;
 }
h2{
     color: darkslategrey;
 }
h3{
     color: goldenrod;
 }

list-style-position: inside


.relative_box {
	position:relative;
	width:400px;
	float:left;
}
.relative_box img {
	width:50%;
}


/*
.relative_box h3 {
	position:absolute;
	bottom:0;
	left:0;
	background:red;
	color:#fff;
	width:100%;
	margin:0;
}
*/
